/*
Cosecha Colors

Gray: #333333
Gold: #ceb365
Blue: #356c84

*/

body{
	background: #fff;
}
#can_main_col{
	background: #fff;
}

h1, h2, h3, h4, h5 h6 {
	color: #356c84;
}

.img-responsive{
	width:100%;
}
